.title-bar{
    position: relative;
    min-height: 80px;
    background-color: #2f6f6f;
}

.title-div{
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align:center;
}

.title{
    margin: 0px;
    color: paleturquoise;
    font-family: 'Roboto', sans-serif;
}