.title-bar{
    position: relative;
    min-height: 80px;
    background-color: #2f6f6f;
}

.title-div{
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align:center;
}

.title{
    margin: 0px;
    color: paleturquoise;
    font-family: 'Roboto', sans-serif;
}

.session-title{
    color:white;
}

.session-div{
    display:inline-block;
}

.session-div-container{
    width: 100%;
    text-align: center;
}

.main-content{
    margin-top: 5px;
}

.main-button{
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #2a6171;
}